<div class="favoritesList">
    <md-list>
        <md-list-item class="secondary-button-padding md-no-proxy md-with-secondary _md" ng-repeat="item in vm.data | orderBy:'title' track by $id(item)">
            <md-button ng-click="vm.removeItem(item, $index)">Remove</md-button>
            <h3>{{item.title}}</h3>
            <p>{{item.description}}</p>
            <md-input-container>
                <label>Comment</label>
                <input type="text" ng-model="item.comment" ng-blur="::vm.updateItem(item, index)">
            </md-input-container>
        </md-list-item>
    </md-list>
</div>